<mat-grid-list [cols]="3" id="project-editor">
  <mat-grid-tile>
    <form [formGroup]="projectPathConnectionEditor" (ngSubmit)="onSubmit()">

      <app-user-field [formGroup]="projectPathConnectionEditor"></app-user-field>
      <app-project-searcher [formGroup]="projectPathConnectionEditor"
                            (selectedProjectEvent)="setSelectedProject($event)"></app-project-searcher>
      <app-resource-searcher [formGroup]="projectPathConnectionEditor"
                             (selectedResourceEvent)="setSelectedResource($event)"></app-resource-searcher>
      <app-relationship-editor [formGroup]="projectPathConnectionEditor"></app-relationship-editor>
      <br>
      <button type="submit" mat-raised-button color="primary"
              [disabled]="!(projectPathConnectionEditor.valid && selectedProject.projectName)">
        Submit
      </button>

    </form>
  </mat-grid-tile>

  <mat-grid-tile *ngIf="selectedProject">
    <app-project-visualization [project]="selectedProject" [relationships$]="projectRelationships$"
                               [minimal]=false></app-project-visualization>
  </mat-grid-tile>

</mat-grid-list>
