.projects li.selected {
  background-color: #CFD8DC;
  color: black;
}

.loader {
  text-align: center;
  margin: auto
}

.mat-list-item {
  overflow: auto;
  height: auto !important;
  margin-bottom: 0.5rem;
}

.email {
  margin-left: .5rem;
  text-decoration: none;
}

mat-panel-description.title {
  flex: 0 1 60%;
}

mat-panel-description.description {
  flex: 0 1 40%;
}


.mat-checkbox {
  display: none
}


.enum-front {
  font-weight: bold;
  min-width: 20rem;
}
