.projects li.selected {
  background-color: #CFD8DC;
  color: black;
}

.loader {
  text-align: center;
  margin: auto
}

.mat-list-item {
  margin-top: -1em;
  margin-bottom: -1em;
}

.email {
  margin-left: .5em;
  text-decoration: none;
}
