.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5% 5% .5em 1fr;
  grid-template-areas:
    "interactionPermanentSection"
    "interactionOptionalSection"
    "dividerSection"
    "mainSection";
}

.search {
  grid-area: interactionPermanentSection;
  text-align: center;
}

.filter {
  grid-area: interactionOptionalSection;
  text-align: center;
}

.divider {
  grid-area: dividerSection;
}

.main {
  grid-area: mainSection;
  width: 100%;
  margin: 1em;
}

