.grid {
  display: grid;
  grid-template-columns: 20vmax 1fr;
  grid-template-rows: 5vmin .5rem 1fr;
  grid-template-areas:
    "interactionPermanentSection interactionPermanentSection"
    "dividerSection dividerSection"
    "filterSection mainSection";
}

.search {
  grid-area: interactionPermanentSection;
  text-align: center;
  align-self: center;
  margin-bottom: -.5rem;
}

.filter {
  grid-area: filterSection;
  font-size: small;
  text-align: center;
}

.divider {
  grid-area: dividerSection;
}

.main {
  grid-area: mainSection;

  margin-top: 1rem;
}

.icon {
  font-size: 1.5rem;
  margin-bottom: .25rem;
}

