.grid {
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 10% .5em 1fr;
  grid-template-areas:
    "interactionPermanentSection interactionPermanentSection"
    "dividerSection dividerSection"
    "filterSection mainSection";
}

.search {
  grid-area: interactionPermanentSection;
  text-align: center;
  margin-bottom: -.55em;
}

.filter {
  grid-area: filterSection;
  text-align: center;
}

.divider {
  grid-area: dividerSection;
}

.main {
  grid-area: mainSection;
  width: auto;
  margin: 1em;
}

.icon {
  font-size: 1.5em;
  margin-bottom: .25em;
}

