.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5vmin 8px 1fr;
  grid-template-areas:
    "interactionSection"
    "dividerSection"
    "mainSection";
}

.interaction {
  grid-area: interactionSection;
  justify-self: center;
  align-self: center;
}

.divider {
  margin-top: .5rem;
  margin-bottom: .5rem;
  grid-area: dividerSection;
}

.main {
  grid-area: mainSection;
  width: auto;
  margin: 1rem;
}





