<div class="grid">
  <div class="flex-grid">
    <app-project-list [projects$]="this.projects$" class="colleft"></app-project-list>
  </div>
  <mat-divider class="divider"></mat-divider>
  <div class="buttons">
    <mat-form-field class="selector">
      <mat-label>Repositorium</mat-label>
      <mat-select [(ngModel)]="selectedRepo" matNativeControl required>
        <mat-option value="edoc">eDoc</mat-option>
      </mat-select>
    </mat-form-field>
    <app-publish-procedure-button [repo]=selectedRepo></app-publish-procedure-button>
  </div>
</div>
