<div class="grid"
     *ngIf="!stateService.getLoggedInUser().getValue() || !stateService.getLoggedInUser().getValue().userName">
  <mat-list class="login">
    <mat-list-item>
      <mat-form-field>
        <mat-label>Benutzername</mat-label>
        <input matInput type="text" [(ngModel)]="login" [required]>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item>
      <mat-form-field>
        <mat-label>Passwort</mat-label>
        <input matInput type="password" [(ngModel)]="password" [required]>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item>
      <p class="mat-error" *ngIf="!passwordCorrect"> Passwort oder Benutzername nicht korrekt!</p>
      <button mat-raised-button color="primary"
              (click)="loginClick()"
              [disabled]="!password?.length||!login?.length">Einloggen
      </button>
    </mat-list-item>
  </mat-list>
  <div class="descriptionText">
    <h1 class="mat-h1">HTML Ipsum Presents</h1>

    <p class="mat-body"><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac
      turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit
      amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet
      est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit
      amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim
      ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

    <h2 class="mat-h2">Header Level 2</h2>

  </div>
</div>

  <div
    *ngIf="(stateService.getLoggedInUser().getValue()!==null) && (stateService.getLoggedInUser().getValue().userName !== null)">
    <mat-list>
      <mat-list-item>Benutzername: {{stateService.getLoggedInUser().getValue().userName}}  </mat-list-item>
      <mat-list-item>
        <button mat-raised-button color="warn"
                (click)="logoutClick()">Ausloggen
        </button>
      </mat-list-item>
    </mat-list>

  </div>

  <mat-spinner *ngIf="this.showSpinner"></mat-spinner>
