<mat-form-field [formGroup]="formGroup">
  <mat-select required formControlName="location" placeholder="Speichertyp">
    <mat-option value="OPENBIS">OpenBIS</mat-option>
    <mat-option value="SAN">WissData</mat-option>
    <mat-option value="LOCAL">Lokal</mat-option>

  </mat-select>

</mat-form-field><br>
<mat-chip color="accent" selected *ngIf=" formGroup.get('location').value === 'LOCAL'">Lokale
  Speicherung von Daten wird nicht empfohlen.
</mat-chip><br>
<mat-form-field [formGroup]="formGroup">
  <input matInput formControlName="datatype" placeholder="Datentyp"/>
</mat-form-field>
<br>
<mat-checkbox required>
  <div class="mat-body"> Enthält personenbezogene Daten</div>
</mat-checkbox>
