<form #newResourceForm='ngForm'>
  <label class="mat-caption">Typ:</label><br><br>
  <mat-radio-group required [(ngModel)]="this.data.location.value" name = "location" (change)="setSelectedLocation()">
    <mat-radio-button class="radio" *ngFor="let option of (this.resourceTypes$ |async)"
                      [value]=option.value><span>{{option.viewValue}}</span></mat-radio-button>
  </mat-radio-group>

  <div *ngIf="data.location && data.location.value" [ngSwitch]="data.location.value"  >
    <div *ngSwitchCase="'SAN'">
      <mat-form-field class="pathinput" (change)="changedResourcePath($event)" >
        <mat-label>{{data.location.pathDescriptor}}</mat-label>
        <input matInput #input = ngModel name = "path" [ngModel]="data.path.viewValue"
               type="text" required pattern="S:\\.*"><br>
        <mat-error *ngIf="input.errors">Kein korrekter Pfad (muss mit 'S:\' beginnen)! </mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="data">
        <mat-label>maximale Größe in GB</mat-label>
        <input matInput [(ngModel)]="data.size" name = "size"  type="number" max="1000" min="0.1" required>
      </mat-form-field>
      <mat-label>GB</mat-label>
    </div>

    <div *ngSwitchCase="'PRIV'">
      <mat-form-field class="pathinput" (change)="changedResourcePath($event)" >
        <mat-label>{{data.location.pathDescriptor}}</mat-label>
        <input  matInput #input = ngModel name = "path" [ngModel]="data.path.viewValue"
                type="text" required pattern="P:\\.*"><br>
        <mat-error *ngIf="input.errors">Kein korrekter Pfad (muss mit 'P:\' beginnen)! </mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="data">
        <mat-label>maximale Größe in GB</mat-label>
        <input matInput [(ngModel)]="data.size" name = "size"  type="number" max="1000" min="0.1" required>
      </mat-form-field>
      <mat-label>GB</mat-label>
    </div>

    <div *ngSwitchCase="'CLOUD'">
      <mat-form-field class="pathinput"   >
        <mat-label>{{data.location.pathDescriptor}}</mat-label>
        <mat-select [ngModel]="data.path.viewValue" required name = "path" (selectionChange)="changedResourcePath($event)" >
          <mat-option *ngFor="let cloud of cloudTypes$ | async" [value] = "cloud.viewValue">
            {{cloud.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngSwitchCase="'LOCAL'">
      <mat-form-field class="pathinput" (change)="changedResourcePath($event)">
        <mat-label>{{data.location.pathDescriptor}}</mat-label>
        <input matInput #input = ngModel name = "path"  required [ngModel]="data.path.viewValue"
               type="text" ><br>
        <mat-error *ngIf="input.errors">Kein korrekter Pfad! </mat-error>
      </mat-form-field>
    </div>

    <div *ngSwitchCase="'OPENBIS'" >
      <mat-form-field class="pathinput" (change)="changedResourcePath($event)">
        <mat-label>{{data.location.pathDescriptor}}</mat-label>
        <input matInput #input = ngModel  [ngModel]="data.path.viewValue"
               name = "path" required type="number" ><br>
        <mat-error *ngIf="input.errors">Kein korrekter Pfad! </mat-error>
      </mat-form-field>
    </div>

    <div *ngSwitchCase="'GIT'">
      <mat-form-field class="pathinput" (change)="changedResourcePath($event)">
        <mat-label>{{data.location.pathDescriptor}}</mat-label>
        <input matInput  #input = ngModel  [ngModel]="data.path.viewValue"
               name = "path"  required type="url" pattern="https?://.+" ><br>
        <mat-error *ngIf="input.errors">Kein korrekte URL! </mat-error>
      </mat-form-field>
    </div>

    <div  *ngSwitchCase = "'DOI'">
      <mat-form-field class="pathinput" (change)="changedResourcePath($event)">
        <mat-label>{{data.location.pathDescriptor}}</mat-label>
        <input matInput  #input = ngModel [ngModel]="data.path.viewValue"
               name = "path"  required type="text"  pattern="^10.\d{4,9}/[-._;()/:A-Z0-9]+"><br>
        <mat-error *ngIf="input.errors">DOI nicht korrekt! </mat-error>
      </mat-form-field>
    </div>

  </div>
  <div *ngIf="data.location.value">
    <mat-slide-toggle color="primary" name = "personal"  [(ngModel)]="data.personal">persönliche Daten</mat-slide-toggle>
    <mat-slide-toggle color="primary"  name = "thirdParty"  [(ngModel)]="data.thirdParty">Drittmittel</mat-slide-toggle>
    <mat-slide-toggle color="warn" name = "archived"  [(ngModel)]="data.archived">Archivieren</mat-slide-toggle>
  </div>
  <div class="mat-caption" *ngIf="data.location.value">
    <mat-form-field class="descriptioninput">
      <mat-label>Beschreibung</mat-label>
      <textarea matInput name = "description"  [(ngModel)]="data.description"> </textarea>
    </mat-form-field>
  </div>
  <div *ngIf="data.createdBy" class="mat-caption">Angelegt von {{data.createdBy}} um {{data.createdTimestamp}}</div>
  <div *ngIf="data.createdBy && (data.updatedTimestamp !== data.createdTimestamp)"
       class="mat-caption">Aktualisiert von {{data.updatedBy}} um {{data.updatedTimestamp}}</div>
  <mat-divider></mat-divider>
  <div mat-dialog-actions>
    <button mat-button mat-raised-button color="primary" (click)="onNoClick()">Abbrechen</button>
    <button mat-button mat-raised-button color="warn" [mat-dialog-close]="data" [disabled]="!newResourceForm.form.valid">Speichern</button>
  </div>
</form>
