.mat-radio-button {
  margin-left: 1em;
  margin-bottom: 2em;
}
.mat-slide-toggle {
  margin-left: 1em;
}

.pathinput {
  width: 100%;
}
.descriptioninput {
  width: 100%;
}

div {
  margin-top: .5em;
}
