<h1 class="mat-h2">Daten veröffentlichen</h1>
<p class="mat-body-strong" style="text-align: justify">Die im nächsten Schritt ausgewählten Daten und Metadaten werden
  persistent auf einem öffentlich zugänglichen Repositorium abgelegt. <br>
  Bitte vergewissern Sie sich, dass alle namentlich genannten Personen mit einer Veröffentlichung einverstanden sind.
  Ferner obliegt es in Ihrer Verantwortung die Einhaltung aller Lizenzen zu überprüfen. </p>

<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()" cdkFocusInitial>Abbrechen</button>
  <button mat-raised-button color="primary" (click)="onYesClick()"> Fortfahren</button>
</div>
