.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5% 5% .5ch 1fr;
  grid-template-areas: "searchView" "filterView" "dividerView" "tableView";
}

.searchField {
  grid-area: searchView;
  text-align: center;
  margin: .5ch;
}

.filterField {
  grid-area: filterView;
  text-align: center;
  margin: .5ch;
}

.divider {
  grid-area: dividerView;
}

.projectList {
  grid-area: tableView;
  margin: .5ch;
}

