<div class="grid">
  <div class=searchField>
    <app-search-search (searchString)=addSearchTerm($event)></app-search-search>
    <button mat-mini-fab color="accent" (click)="toggleFilter()">
      <mat-icon>+</mat-icon>
    </button>
  </div>
  <app-search-filter (filterString)=addFilterTerm($event) class=filterField *ngIf="showFilter"></app-search-filter>

  <mat-divider class="divider"></mat-divider>
  <app-project-list [projects$]="this.projects$" class="projectList"></app-project-list>
</div>
