<nav mat-tab-nav-bar>
  <a mat-tab-link [routerLink]="['/projects']" routerLinkActive= "active">Projekte</a>
  <a mat-tab-link [routerLink]="['/search']" routerLinkActive= "active">Suche</a>
  <a mat-tab-link [routerLink]="['/projects']" routerLinkActive= "active">Veröffentlichung</a>
  <a mat-tab-link [routerLink]="['/projects']" routerLinkActive= "active">Import/Export</a>
  <a mat-tab-link [routerLink]="['/logout']" routerLinkActive= "active" >Logout</a>
</nav>
<router-outlet></router-outlet>
