<h1 class="mat-h2">MaMoDaR: Management Molekularer Daten im Research Data Life Cycle</h1>
<p class="mat-body">Das Projekt „MaMoDaR“ hat als Ziel, den effizienten und nachhaltigen Umgang mit Forschungsdaten zu
  ermöglichen. Es wird vom <a href="https://www.rki.de/DE/Content/Institut/OrgEinheiten/MF/MF4/mf4_node.html"
                              target="_blank">Robert Koch-Institut</a> in Kooperation mit der <a
    href="https://www.fh-potsdam.de/studium-informationswissenschaften/" target="_blank">Fachhochschule Potsdam</a>
  realisiert. MaMoDaR nutzt zwei Module: den <a href="http://rdmo.h2888668.stratoserver.net/" target="_blank">RDMO</a>
  und den DataLinker.</p>
<h2 class="mat-h3">Willkommen beim DataLinker</h2>
<p class="mat-body">Der DataLinker ist eine Webapplikation, die das Erfassen von Projektressourcen, das Durchsuchen von
  Projektmetadaten und die Veröffentlichung wissenschaftlicher Forschungsdaten nach den <a
    href="https://www.ruhr-uni-bochum.de/researchdata/de/fair_data.html" target="_blank">FAIR-Prinzipien</a>
  unterstützt.<br>
  Der Quellcode für den DataLinker ist auf <a href="https://github.com/mamodar/datalinker" target="_blank">github.com/mamodar/datalinker</a>
  verfügbar. Wenn Sie mehr über den DataLinker erfahren wollen, können Sie auch unsere Dokumentation <a
    href="https://github.com/mamodar/datalinker#documentation" target="_blank">Dokumentation</a> besuchen.<p
  class="mat-body">
