<h1 class="mat-h1">MaMoDaR: Management Molekularer Daten im Research Data Life Cycle</h1>

<p class="mat-body">„MaMoDaR: Management Molekularer Daten im Research Data Life Cycle“ ist ein von der Deutschen
  Forschungsgemeinschaft (DFG) gefördertes Projekt mit einer Laufzeit von 24 Monaten (2019-2021).</p>

<p class="mat-body">
  Das Projekt „MaMoDaR: Management Molekularer Daten im Research Data Life Cycle“ hat als Ziel, den effizienten und
  nachhaltigen Umgang mit Forschungsdaten zu optimieren. Es wird vom Robert Koch-Institut (RKI) in Kooperation mit der
  <a href="https://www.fh-potsdam.de/" target="_blank">Fachhochschule Potsdam (FHP)</a> realisiert. Hierzu dient die
  Entwicklung, Dokumentation und Veröffentlichung eines nachnutzbaren Konzepts sowie einer benutzerfreundlichen
  Softwarelösung. Die vom RKI entwickelte Software, der sogenannte DataLinker, unterstützt eine strukturierte
  Veröffentlichung wissenschaftlicher Daten nach den FAIR-Prinzipien. </p>

