<mat-grid-list [cols]="3" id="resource-editor">
  <mat-grid-tile>
    <form [formGroup]="resourceEditor" (ngSubmit)="onSubmit()">

      <app-user-field [formGroup]="resourceEditor"></app-user-field>
      <app-resource-searcher [formGroup]="resourceEditor"
                             (selectedResourceEvent)="setSelectedResource($event)"></app-resource-searcher>

      <button type="submit" mat-raised-button color="primary" ng-valid>Submit</button>
      <button type="button" mat-raised-button color="warn" (click)="cancelForm()">Cancel</button>

    </form>
  </mat-grid-tile>

  <mat-grid-tile *ngIf="selectedResource">
    <app-resource-visualization [resource]="selectedResource"
                                [minimal]=false></app-resource-visualization>
  </mat-grid-tile>
</mat-grid-list>


