.main-grid {
  display: grid;
  grid-template-rows: 8vmin 1fr 2vmin !important;
  grid-template-areas:
  "headerSection"
  "mainSection"
  "footerSection";
}

.app-header {
  grid-area: headerSection;
}

.app-home {
  margin-top: 1rem;
  min-height: calc(100vmin - 8vmin - 2vmin - 1vmin - 4px);
  grid-area: mainSection;
}

.app-footer {
  grid-area: footerSection;
  min-width: 100%;
}
