<div class="grid">

  <div class="interaction">
    <mat-form-field class="selector">
      <mat-label>Repositorium</mat-label>
      <mat-select [(ngModel)]="selectedRepo" matNativeControl (ngModelChange)="emitSelectedRepo()" required>
        <mat-option value="edoc">Publikationsserver (edoc)</mat-option>
        <mat-option value="zenodo">zenodo</mat-option>
      </mat-select>
    </mat-form-field>
    <app-publish-procedure class="button" [selectedRepo]=selectedRepo></app-publish-procedure>
  </div>

  <mat-divider class="divider"></mat-divider>

  <div class="main">
    <app-project-list-paginate [projects$]="this.projects$" class="projectList"></app-project-list-paginate>
  </div>

</div>
