<label class = "mat-caption">Bitte Typ auswählen:</label><br><br>

<mat-radio-group  [(ngModel)]="this.data.location.value" (change)="setSelectedLocation()">
<mat-radio-button class="radio" *ngFor="let option of (this.resourceTypes$ |async)"
                  [value]=option.value><span>{{option.viewValue}}</span></mat-radio-button>
</mat-radio-group>

<br> <br> <br>
<mat-form-field *ngIf="data.location && data.location.value">
  <mat-label>{{data.location.pathDescriptor}}</mat-label>
  <input matInput [(ngModel)]="data.path" type="text" required><br>
</mat-form-field>

<br><br>
<div *ngIf="data.location.value === 'san-0'">
<div class="mat-caption">
  <mat-form-field *ngIf="data">
    <mat-label>maximale Größe in GB</mat-label>
    <input matInput [(ngModel)]="data.size" type="number">
  </mat-form-field> GB</div>


</div>
<div *ngIf="data.location.value">
<mat-slide-toggle color="primary" [(ngModel)]="data.personal">persönliche Daten</mat-slide-toggle>
<mat-slide-toggle color="primary" [(ngModel)]="data.thirdParty">Drittmittel</mat-slide-toggle>
<mat-slide-toggle color="warn" [(ngModel)]="data.archived">Archivieren</mat-slide-toggle>
</div>
<div mat-dialog-actions>
  <button mat-button  mat-raised-button color="primary" (click)="onNoClick()">Abbrechen</button>
  <button mat-button mat-raised-button color="warn" [mat-dialog-close]="data" [disabled]="isFormValid()">Hinzufügen</button>
</div>
