$md-rki-main: (
  50 : #e0e8f3,
  100 : #b3c5e0,
  200 : #809fcb,
  300 : #4d79b6,
  400 : #265ca7,
  500 : #003f97,
  600 : #00398f,
  700 : #003184,
  800 : #00297a,
  900 : #001b69,
  A100 : #98a9ff,
  A200 : #657fff,
  A400 : #3255ff,
  A700 : #193fff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
$md-rki-accent: (
  50 : #e0e5ec,
  100 : #b3bfcf,
  200 : #8094b0,
  300 : #4d6990,
  400 : #264878,
  500 : #002860,
  600 : #002458,
  700 : #001e4e,
  800 : #001844,
  900 : #000f33,
  A100 : #6b84ff,
  A200 : #3859ff,
  A400 : #052fff,
  A700 : #0027eb,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
$md-rki-warn: (
  50 : #f3e0e8,
  100 : #e0b3c5,
  200 : #cb809f,
  300 : #b64d79,
  400 : #a7265c,
  500 : #97003f,
  600 : #8f0039,
  700 : #840031,
  800 : #7a0029,
  900 : #69001b,
  A100 : #ff98a9,
  A200 : #ff657f,
  A400 : #ff3255,
  A700 : #ff193f,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
