@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import "rki-theme";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();


$rki-theme-primary: mat-palette($md-rki-main, 500, 200, 700);
$rki-theme-accent: mat-palette($md-rki-accent, 500, 200, 700);
$rki-theme-warn: mat-palette($md-rki-warn, 500, 200, 700);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$rki-app-theme: mat-light-theme((
  color: (
    primary: $rki-theme-primary,
    accent: $rki-theme-accent,
    warn: $rki-theme-warn,
  )
));
@include angular-material-theme($rki-app-theme);

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 75%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
