<mat-grid-list [cols]="3" id="project-editor">
  <mat-grid-tile>
    <form [formGroup]="projectEditor" (ngSubmit)="onSubmit()">

      <app-user-field [formGroup]="projectEditor"></app-user-field>
      <app-project-searcher [formGroup]="projectEditor"
                            (selectedProjectEvent)="setSelectedProject($event)"></app-project-searcher>

      <button type="submit" mat-raised-button color="primary" ng-valid>Submit</button>
      <button type="button" mat-raised-button color="warn" (click)="cancelForm()">Cancel</button>
    </form>
  </mat-grid-tile>

  <mat-grid-tile *ngIf="selectedProject">
    <app-project-visualization [project]="selectedProject"
                               [minimal]=false></app-project-visualization>
  </mat-grid-tile>
</mat-grid-list>


