<div class="mat-elevation-z0">
  <table mat-table [dataSource]="newResources$" class="table">

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef> Quelle</th>
      <td mat-cell *matCellDef="let resource"> {{resource.location.viewValue}}
      </td>

    </ng-container>
    <ng-container matColumnDef="path">
      <th mat-header-cell *matHeaderCellDef> Standort</th>
      <td mat-cell *matCellDef="let resource" [ngSwitch]="resource.location.value">
        <a *ngSwitchCase="'GIT'" href="{{resource.path.value}}" target="_blank">{{resource.path.viewValue}}</a>
        <div *ngSwitchDefault> {{resource.path.viewValue}}</div>

      </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Beschreibung</th>
      <td mat-cell *matCellDef="let resource"> {{resource.description}}
      </td>
    </ng-container>
    <ng-container matColumnDef="license">
      <th mat-header-cell *matHeaderCellDef> Lizenz</th>
      <td mat-cell *matCellDef="let resource"> {{resource.license}}
      </td>

    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Aktion</th>
      <td mat-cell *matCellDef="let resource">
        <app-resource-manipulate-button [parent]="resource"></app-resource-manipulate-button>
        <app-resource-delete-button [parent]="resource"></app-resource-delete-button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let project; columns: displayedColumns;"></tr>

  </table>
</div>
