<div *ngIf = "projects$ | async as projects; else loading">
<mat-accordion>
<mat-expansion-panel *ngFor="let project of projects" hideToggle>
  <mat-expansion-panel-header (click)="onSelect(project);$event.stopPropagation();">
    <mat-panel-title>
      {{project.projectName}}
    </mat-panel-title>
    <mat-panel-description>
      id: {{project.id}}
    </mat-panel-description>
    <mat-checkbox  [disabled]="true"  [checked]="this.selectedProject$.getValue() === project"></mat-checkbox>
  </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
  <mat-list dense>
    <mat-list-item> Beschreibung: {{project.description?project.description:'keine Beschreibung angegeben'}}</mat-list-item>
    <mat-list-item> Ansprechpartner: {{project.owner?project.owner:'kein Ansprechpartner angegeben'}}</mat-list-item>
    <mat-list-item> Datum: {{project.creationTimestamp}} </mat-list-item>
  </mat-list>
  <app-resource-list [data$] = this.shownResources$></app-resource-list>
  </ng-template>
</mat-expansion-panel>
</mat-accordion>
  <div *ngIf='projects?.length === 0' class = "mat-body-strong">Leider keine Projekte gefunden!</div>
</div>

<ng-template #loading class = "loader"><mat-spinner ></mat-spinner></ng-template>

